body {
    background-position: right;
    color: rgb(0, 0, 0);
    padding: 50px;
    padding-bottom: 10px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt; /*change default = 20*/
    font-weight: bold;
    }

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt; /*change default = 20*/
    font-weight: bold;
    height: 70px;
    width: 200px;
}

input[type=radio] {
    height: 40px;
    width: 40px;
}

div {
    padding:30px;
}


/*2A, 4A, 1B, 4B */
