body {
    background-position: right;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-right: 300px;
    padding-left: 300px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 165px;
    font-size: 48pt;
    line-height: 4;
    text-align: center;
    }

